.ant-btn-primary {
  background: #f36f45 !important;
  border-color: #f36f45 !important;
}

.ant-input {
  background-color: #000 !important;
  color: #fff !important;
  border-color: #000 !important;
}
